<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel = "methods">
<listeners>
<listener class-name = "Assignment.Listeners"></listener>
</listeners>
  <test  name="Test1">
    <classes>
      <class name="Assignment.textCheck"/>
     </classes>
    </test> 
  <test  name="Test2">
    <classes>
      <class name="Assignment.navigationBar"/>
    </classes>
  </test>  
  <test  name="Test3">
    <classes>
      <class name="Assignment.AppTest"/>
    </classes>
   </test> 
  <test  name="Test4">
    <classes>
      <class name="Assignment.HomePage"/>
    </classes>
    
  </test> 
</suite> 
